<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.*"
            id="org.muml.module.simulinkEMF2Matlab.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="org.muml.module.simulinkEMF2Matlab.ui.popupMenus.AcceleoGenerateSimulinkEMF2MatlabAction"
               enablesFor="+"
               id="org.muml.module.simulinkEMF2Matlab.ui.popupMenus.acceleoGenerateSimulinkEMF2MatlabAction"
               icon="icons/default.gif"
               label="Generate SimulinkEMF2Matlab"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
